.mainNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItems {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.navList {
  display: flex;
  gap: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  color: rgba(247, 244, 239, 0.8);
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 0.015em;
  text-transform: capitalize;
}
.contactInfo {
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  color: rgba(247, 244, 239, 0.8);
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  text-decoration: none;
}
.titleText {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 28px;
  color: rgba(255, 245, 219, 0.8);
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  text-decoration: none;
}
.navListItems {
  cursor: pointer;
}
.hambugerMenu {
  display: none;
}
.modalMain {
  background-color: #161b22;
}
.mobNavListStyleMain {
  display: flex;
  gap: 30px;
  flex-direction: column;
  list-style: disc;
  padding-left: inherit;
}
.navListLi {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding: 14px;
}
/* MEDIA QUERY FOR MOBILE */
@media only screen and (max-width: 600px) {
  .contactInfo {
    display: none;
  }
  .navList {
    display: none;
  }
  .hambugerMenu {
    display: flex;
    font-size: larger;
  }
  .navItems {
    width: 90%;
  }
}
/* MEDIA QUERY FOR TABLETS */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .navItems {
    width: 95%;
  }
  .hambugerMenu {
    display: none;
  }
}
